.user-search-bar {
    background-color: #2c2c2c; /* Black background color */
    padding: 10px;
    display: flex;
    align-items: center;
  
    input {
      padding: 8px;
      margin-right: 10px;
    }
  
    button {
      padding: 8px 16px;
      cursor: pointer;
      background-color: #4caf50; /* Green color */
      color: #fff; /* White text color */
      border: none;
    }
  
    .user-info {
      margin-top: 20px;
      color: #fff; /* White text color */
    }
  }
  